:root{
    --padding-top: 70px;
}

header{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    z-index: 1;
}
section{
    padding-top: var(--padding-top, 70px);
}
#form{
    padding-top: var(--padding-top, 70px);
    text-align: center;
}
.sticky{
    position: fixed;
    top: 0%;
}
#nav-bar{
    display: flex;
    width: 60%;
}
#nav-bar a{
    width: 33.3%;
    text-align: center;
}
#email{
    margin: 10px auto;
}
.feature{
    margin: 0px auto;
    width: 80%;
}
#prices{
    display: flex;
    flex-flow: wrap;
}
.choice{
    text-align: center;
    width: 92%;
    padding: 10px;
    margin: 10px 4%;
    border: 2px solid black;
}

.choice p{
    width: 70%;
    height: 150px;
    margin: 0px auto;
    margin-top: 15px;
}

.course{
    background: cyan;
    margin: 0px;

}

@media screen and (min-width: 450px){
    .choice{
        width: 400px;
        margin: 10px auto;
    }
}

@media screen and (min-width: 800px){
    .choice{
        width: 28.66%;
    }
}